*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

thead {
  display: contents;
}

.container {
  margin: auto auto;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "jumbotron info";
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-gap: 2.5%;
  justify-content: center;
}

.jumbotron,
.info {
  position: relative;
  width: 100%;
  height: 95vh;
  margin: 10px auto;
}

.table,
.weather-table {
  position: absolute;
  top: 15vh;
  bottom: 15vh;
  height: inherit;
  width: 100%;
}

.jumbotron {
  display: grid;
  grid-area: "jumbotron";
  grid-template-areas: "filler" "filler"
                       "filler" "filler"
                       "input"
                       "filler";
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 5%;
  overflow-y: auto;
  border: 2px solid black;
  opacity: 70%;
  box-shadow: black 10px 10px 11px;
}

.filler {
  margin: auto auto;
  grid-area: "filler";
}

.display-4 {
  margin: auto auto;
}

.lead {
  text-align: center;
}

.forecast-btn {
  display: none;
}

.cityInfo {
  text-align: center;
}

.input-group {
  display: block;
  grid-area: "input";
}

.form-control {
  position: absolute;
  margin: 0;
  bottom: 40px;
  padding: 0;
  text-align: center;
}

.info {
  grid-area: "info";
  opacity: 70%;
  display: none;
  padding: 5%;
  border: 2px solid black;
  box-shadow: black 10px 10px 11px;
}

.table {
  margin: auto auto;
  color: white;
}

.weather-table {
  margin: auto auto;
}

.current-btn {
  display: none;
}

.date {
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 1100px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .container {
    display: block;
    overflow-y: none;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .jumbotron,
  .bg-dark,
  .info,
  .table,
  .weather-table {
    margin: 1% auto;
    padding: 5;
    height: 95vh;
    width: 95vw;
    line-height: 1em;
    font-size: 80%;
    overflow-x: hidden;
  }

  .filler {
    max-height: 250px;
    margin: auto auto;
  }

  .cityInfo {
    line-height: 0.1em;
  }

  .jumbotron p {
    margin-bottom: 50px;
  }

  .btn {
    margin: auto auto;
  }

  .forecast-btn {
    display: block;
    margin: auto auto;
    margin-bottom: 20px;
  }

  .form-control {
    margin: 5% auto;
  }

  .table {
    color: white;
    font-size: 2em;
  }

  .current-btn {
    margin: auto auto;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body ::-webkit-scrollbar {
    display: none;
  }

  .jumbotron {
    grid-template-columns: auto;
    grid-template-areas:
      "filler"
      "filler"
      "filler"
      "temp"
      "filler"
      "filler";
    grid-gap: 2%;
    width: 100%;
    height: 98%;
  }

  .filler {
    grid-area: "filler";
  }

  .temp {
    grid-area: "temp";
  }

  .lead {
    margin: auto auto;
    line-height: 2.5em;
    font-size: 2em;
  }

  .cityInfo {
    line-height: 1.2em;
    font-size: 1.2em;
  }

  .temp img {
    display: none;
  }

  .input-group {
    margin: auto auto;
  }

  .form-control {
    position: absolute;
    top: 3px;
  }
  
  .info {
    height: 98%;
    width: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .table {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .weather-table {
    top: 0;
    width: 100vw;
  }

  .info ::-webkit-scrollbar {
    display: none;
  }

  .current-btn {
    z-index: 1000;
    margin-bottom: 0;
  }
}
