*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.container {
  /* overflow-x: hidden; */
  margin: auto auto;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "jumbotron info";
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-gap: 2.5%;
  justify-content: center;
}

.jumbotron,
.info {
  width: 100%;
  height: inherit;
}

.jumbotron {
  display: grid;
  grid-area: "jumbotron";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 5%;
  overflow-y: auto;
  border: 2px solid black;
  opacity: 70%;
  box-shadow: black 10px 10px 11px;
}

.filler {
  margin: auto auto;
}

.display-4 {
  margin: auto auto;
}

.lead {
  text-align: center;
}

.forecast-btn {
  display: none;
}

.cityInfo {
  text-align: center;
}

.input-group {
  position: relative;
}

.form-control {
  position: absolute;
  margin: 0;
  bottom: 0;
  padding: 0;
  text-align: center;
}

.info {
  grid-area: "info";
  display: none;
}

.table {
  margin: auto auto;
  max-height: inherit;
  color: white;
}

.weather-table {
  margin: auto auto;
  height: inherit;
}

.current-btn {
  display: none;
}

.date {
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 1100px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .container {
    display: block;
    overflow-y: none;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .jumbotron,
  .bg-dark {
    margin: 1% auto;
    padding: 5;
    height: 95vh;
    width: 95vw;
    line-height: 1em;
    font-size: 80%;
    overflow-x: hidden;
  }

  .filler {
    max-height: 250px;
    margin: auto auto;
  }

  .cityInfo {
    line-height: 0.1em;
  }

  .jumbotron p {
    margin-bottom: 50px;
  }

  .btn {
    margin: auto auto;
  }

  .forecast-btn {
    display: block;
    margin: auto auto;
    margin-bottom: 20px;
  }

  .form-control {
    margin: 5% auto;
  }

  .info {
    height: 100%;
  }

  .table {
    height: 100%;
    color: white;
  }

  .weather-table {
    width: 90%;
  }

  .current-btn {
    margin: auto auto;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .jumbotron {
    grid-template-columns: auto;
    grid-template-areas:
      "filler"
      "filler"
      "filler"
      "filler"
      "filler"
      "filler";
    grid-gap: 2%;
    width: 100%;
    height: 95%;
  }

  .filler {
    grid-area: "filler";
  }

  .lead {
    margin: auto auto;
    line-height: 2.5em;
    font-size: 2em;
  }

  .cityInfo {
    line-height: 1.2em;
    font-size: 1.2em;
  }

  .temp img {
    display: none;
  }

  .input-group {
    margin: auto auto;
  }

  .form-control {
    position: absolute;
    top: 3px;
  }
}
