html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
  }
  
  .container {
    margin-top: 4%;
    max-width: 1000px;
    max-height: 100vh;
    display: grid;
    grid-template-areas: "jumbotron info";
    grid-gap: 5%;
    justify-content: center;
  }

  .jumbotron {
    display: grid;
    grid-area: "jumbotron";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 500px;
    height: 500px;
    grid-gap: 10px;
    padding: 10px;
    overflow-y: auto;
    border: 2px solid black;
    opacity: 70%;
    box-shadow: black 10px 10px 11px;
  }

  .info {
      grid-area: "info";
      width: 700px;
  }

  .date {
      grid-row-start: 1;
      grid-row-end: 2;
  }
  
  @media screen and (max-width: 1100px) {

  body {
    margin:0;
  }

  .container {
    grid-template-areas: "jumbotron"
                         "info";
  }

  .jumbotron {
    margin-bottom: 30px;
    height: 100%;
    line-height: 1em;
  }

  .jumbotron p {
    margin-bottom: 50px;
  }

  .info {
    display: none;
    margin: auto;
  }
    }

@media screen and (max-width: 500px) {

  body {
    margin: 0;
  }

  .jumbotron {
    width: 100%;
  }

  .input-group-append {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .info {
    width: inherit;
    flex: 2 1 560px;
    margin: auto;
  }
}