apikey = "a12fb02034883e480f0f41431feb3261"

//button that allows the user to switch between farenheit and celsius temperatures
function tempChangeButton(data) {
  searchBox = document.getElementsByClassName("bg-dark")[0];
  tempButton = document.createElement("button");
  tempButton.innerHTML = "Change to Celsius";
  tempButton.className = "change-temp";
  searchBox.appendChild(tempButton);
  tempButton.addEventListener("click", (e) => {
    e.target.innerHTML = "Change to Farenheit";
    const temp = document.querySelectorAll(
      ".temp, .temp-min, .temp-max, .temp-feels-like"
    );
    console.log(temp.length);
    for (i = 0; i < temp.length; i++) {
      if (temp[i].className === "temp") {
        temp[i].innerHTML = `<p>${data[0].main.temp}&deg</p>`;
      }
      if (temp[i].className === "temp-min") {
        temp[i].innerHTML = `<th>${data[1].daily[i].temp.min}&deg</th>`;
      }
      if (temp[i].className === "temp-max") {
        temp[i].innerHTML = `<th>${data[1].daily[i].temp.max}&deg</th>`;
      }
      if (temp[i].className === "temp-feels-like") {
        temp[i].innerHTML = `<th>${data[1].daily[i].feels_like.day}&deg</th>`;
      }
    }
  });
}