tr {
  border-top: 1px solid white;
}

th{
  padding: 10px;
  border-right: .5px solid white;
}

img{
  width: 40px;
  height: auto;
}

.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.date {
  text-decoration: underline;
}

.change-temp {
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: rgb(50, 52, 58);
  color: rgb(4, 158, 158);
  border: 1px solid rgb(4, 127, 158);
}

.change-temp:hover {
  background-color:rgb(4, 158, 158);
  color: white;
}

.weather-table {
  width: 100%;
  height: auto;
  border: 1px solid rgb(5, 4, 90);
  margin-bottom: 30px;
  background-color: rgb(71, 76, 92);
  color: white;
}

.outside-blocks {
  background-color: rgb(62, 68, 90);
}

@media screen and (max-width: 500px) {
.bg-dark,
.jumbotron,
.text-white {
  position: relative;
  margin-bottom: 30px;
  height: 350px;
  width: 100%;
  overflow-y: auto;
}

.table {
  width: 100%;
}

.weather-table {
  width: inherit;
}

}

@media screen and (min-width: 800px) {
  
}